<h1 class="col-mt-4">🏣 Ajouter un musée</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="validationTooltip01">Nom du musée</label>
      <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress mt-2">Adresse</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputTel">Numéro de téléphone</label>
      <input type="text" class="form-control" id="inputTel">
    </div>
    <div class="form-group col-md-4">
      <label for="inputWebsite">Site internet</label>
      <input type="text" class="form-control" id="inputWebsite">
    </div>
    <div class="form-group col-md-12">
      <label for="inputInfo">Information</label>
      <textarea class="form-control" id="inputInfo" rows="4"></textarea>
    </div>
    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-outline-primary">Valider</button>

      </div>

    </div>

  </div>
</form>
